parameters:
	ignoreErrors:
		-
			message: "#^Deprecated in PHP 8\\.0\\: Required parameter \\$diskName follows optional parameter \\$disk\\.$#"
			count: 1
			path: src/BackupDestination/BackupDestination.php

		-
			message: "#^Deprecated in PHP 8\\.1\\: Required parameter \\$backupName follows optional parameter \\$disk\\.$#"
			count: 1
			path: src/BackupDestination/BackupDestination.php
