includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true

    ignoreErrors:
        - '#Unsafe usage of new static#'
