name: run-tests

on:
    push:
        paths:
            - '**.php'
            - '.github/workflows/run-tests.yml'
            - 'phpunit.xml.dist'
            - 'composer.json'
            - 'composer.lock'

jobs:
    test:
        runs-on: ${{ matrix.os }}
        timeout-minutes: 5
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest]
                php: [8.4, 8.3, 8.2]
                laravel: [12.*, 11.*, 10.*]
                stability: [prefer-lowest, prefer-stable]
                include:
                    - laravel: 10.*
                      testbench: 8.*
                    - laravel: 11.*
                      testbench: 9.*
                    - laravel: 12.*
                      testbench: 10.*

        name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }} - ${{ matrix.os }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Install SQLite 3
              run: |
                sudo apt-get update
                sudo apt-get install sqlite3

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: ${{ matrix.php }}
                extensions: curl, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, iconv
                coverage: none

            - name: Setup problem matchers
              run: |
                  echo "::add-matcher::${{ runner.tool_cache }}/php.json"
                  echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

            - name: Install dependencies
              run: |
                  composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
                  composer remove "larastan/larastan" --dev --no-interaction --no-update
                  composer update --${{ matrix.stability }} --prefer-dist --no-interaction

            - name: List Installed Dependencies
              run: composer show -D

            - name: Execute tests
              run: vendor/bin/pest --ci
