name: run-tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    timeout-minutes: 5

    strategy:
      fail-fast: true
      matrix:
        php: [8.5, 8.4]
        laravel: ['13.*', '12.*']
        stability: [prefer-stable]
        include:
          - laravel: 13.*
            testbench: ^11.0
          - laravel: 12.*
            testbench: ^10.8

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install SQLite 3
        run: |
          sudo apt-get update
          sudo apt-get install sqlite3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: curl, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, iconv
          coverage: none

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
          composer remove "larastan/larastan" "laravel/slack-notification-channel" --dev --no-interaction --no-update
          composer update --${{ matrix.stability }} --prefer-dist --no-interaction

      - name: Execute tests
        run: vendor/bin/pest
